.content-home{
    background-image:url("../images/fondoHome1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    background-position-x: center;
    background-position-y: center;
    width: inherit;
    height: inherit;
    display: block;
}

.img-fondo{
   /* background-image: url("../images/p5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    display: flex;
}
.img-fondo>img{
    width: inherit;
    object-fit: contain;
}

.message-content{
    width: 100%;
    height: 100%;
    display: flex;
}

.message-home{
    width: 100%;
    height: 30%;
    margin: auto;
    display: flex;
}
.message-home>p{
    color: rgba(0,0,0,.8);
    font-size: 3vw;
    font-family: auto;
}


.line {
    position: relative;
    width: 19em;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 4s steps(50) 1s 1 normal both,
    blinkTextCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 19em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}