.content{
    background-color: #282c34;
    width: inherit;
    height: inherit;
    display: block;
}

.title1{
    color: white;
    text-align: center;
    font-size: x-large;
}

.title1-thead{
    color: white;
}
.title1-thead th{
    font-size: 18px;
}

.title2-thead{
    color: white;

}
.title2-thead th{
    font-size: 14px;
}

.col-table1{
    height: 100%;
}
.table1{
    width: 100% !important;
    margin: auto;
    background: red;
}
.table-responsive{
    overflow-y: auto;
    height: 100%;
}


.table1-thead{
    background: gray;

}

.table1-tbody{
    background: white;
}

.table1-tr{
    color: gray;
}
.table1-tr td{
    vertical-align: middle !important;
}

.button-register{
    background: gold;
    border-radius: 8px;
    height: 40px;
    float: right;
    margin-top: 1%;
}

.div-row-1{
    height: 10%;
}
.div-row-2{
    height: 80%;
}
.div-row-3{
    height: 10%;
}

.icon-table-consultor{
    width: 2em;
    height: 2em;
    color: #a7a7a7;
}