.content{
    background-color: #282c34;
    width: inherit;
    height: inherit;
    display: block;
}

.title1{
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: 2%;
}

.title1-thead{
    color: white;
}
.title1-thead th{
    font-size: 18px;
}

.title2-thead{
    color: white;

}
.title2-thead th{
    font-size: 14px;
}

.col-table1{
    height: 100%;
}
.table1{
    width: 100% !important;
    margin: auto;
    background: red;
}
.table-responsive{
    overflow-y: auto;
    height: 100%;
}


.table1-thead{
    background: gray;

}

.table1-tbody{
    background: white;
}

.table1-tr{
    color: gray;
    cursor: pointer;
}
.table1-tr:hover{
    background: #ffc107 !important;
    color: white !important;
}
.table1-tr:hover .icon-table-consultor{
    background: #ffc107 !important;
    color: white !important;
}
.table1-tr td{
    vertical-align: middle !important;
}

.button-register{
    background: gold;
    border-radius: 8px;
    height: 40px;
    float: right;
    margin-top: 1%;
}

.div-row-1{
    height: 10%;
}
.div-row-2{
    height: 80%;
}
.div-row-3{
    height: 10%;
}

.icon-table-consultor{
    width: 2em;
    height: 2em;
    color: #a7a7a7;
}

.icon-table-consultor:hover{
    color: gray;
    color: rgba(0,0,0,.7);
    transition: .3s;
}






.profile-pic {
    border-radius: 50%;
    width: 15vh;
    height: 14.7vh;
    transition: all .3s ease;
    position: center !important;
    object-fit: cover;
}

.updateImgPerfil {
    display: flex;
    justify-content: center;
}

.updateImgPerfil li {

}

.updateImgPerfil a {
    position: relative;
    display: block;
    overflow: hidden;
}

.updateImgPerfil a span {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}
.imgEditP{
    width: 50%;
    height: 75%;
    margin: auto;
}
.updateImgPerfil a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.updateImgPerfil a:hover span:last-child,
.updateImgPerfil[data-animation] a:hover span:last-child {
    transform: none;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.updateImgPerfil[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

.circleP{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    float:left;
    bottom: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}

#x2{
    width: 100%;
    height: 100%;
    float:right;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    color:  rgba(1, 1, 1,0.5);
    text-align: center;
    display: grid;
}

#x2:hover{
    background-color: rgba(1, 1, 1,0.5);
    color:white;
}

#input_imgPerfil{
width: 0% !important;
visibility: hidden;
}