.content{
    background-image:url("../images/fondoHome1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    display: block;
}

.title1{
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: 2%;
}

.title1-thead{
    color: white;
}
.title1-thead th{
    font-size: 18px;
}

.title2-thead{
    color: white;

}
.title2-thead th{
    font-size: 14px;
}
.th-per-prof th{
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}
.td-per-prof td{
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}


.col-table1{
    height: 30vw;

}
.table1{
    width: 100% !important;
    margin: auto;
}
.table-responsive{
    overflow-y: auto;
    height: 100%;
    border-radius: inherit !important;
}
.topRadius{
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-top: solid transparent !important;
}

.bottomRadius{
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom: solid transparent !important;
}

.table1-thead{
    background: rgba(0,0,0,.6);
}

.table1-tbody{
    background: white;
}

.table1-tr{
    color: gray;
    cursor: pointer;
}
.table1-tr:hover{
    background: #ffc107 !important;
    color: white !important;
}
.table1-tr:hover .icon-table-consultor{
    background: rgba(0,0,0,.6)!important;
    color: white !important;
}
.table1-tr td{
    vertical-align: middle !important;
}

.papelera{
    width: 100px;
    border-radius: 8px;
    height: 70px;
    float: left;
    margin-top: 40%;
}
.papelera>svg{
    width: inherit;
    height: 50px;
    color: white;
    margin: auto;
}
.papelera>p{
    width: inherit;
    height: 20px;
    color: white;
    margin: auto;
    text-align: center;
}
.papelera:hover svg{
    color: #ffc107 !important;
}
.papelera:hover p{
    color: #ffc107 !important;
}

.button-register{
    background: gold;
    border-radius: 8px;
    height: 40px;
    float: right;
    margin-top: 3%;
}

.div-row-1{
    height: 10%;
}
.div-row-2{
    height: 60%;
}
.div-row-3{
    height: 10%;
}

.icon-table-consultor{
    width: 3em;
    height: 3em;
    color: rgba(0,0,0,.9);
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    padding: 10px;
}



.profile-pic {
    border-radius: 50%;
    width: 15vh;
    height: 14.7vh;
    transition: all .3s ease;
    position: center !important;
    object-fit: cover;
}

.updateImgPerfil {
    display: flex;
    justify-content: center;
}

.updateImgPerfil li {

}

.updateImgPerfil a {
    position: relative;
    display: block;
    overflow: hidden;
}

.updateImgPerfil a span {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}
.imgEditP{
    width: 50%;
    height: 75%;
    margin: auto;
}
.updateImgPerfil a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.updateImgPerfil a:hover span:last-child,
.updateImgPerfil[data-animation] a:hover span:last-child {
    transform: none;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.updateImgPerfil[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}

.circleP{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    float:left;
    bottom: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}

#x2{
    width: 100%;
    height: 100%;
    float:right;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
    color:  rgba(1, 1, 1,0.5);
    text-align: center;
    display: grid;
}

#x2:hover{
    background-color: rgba(1, 1, 1,0.5);
    color:white;
}

#input_imgPerfil{
width: 0% !important;
visibility: hidden;
}

.dialog-modal-papelera{
    max-width: 90%;
    max-height: 90%;
    min-height: 90%;
}

select {
    background-image: url("../images/icons8-search.gif");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-size: 25px;
}
select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}


.iconPlus{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin: auto;
    display: block;
    cursor: pointer;
}

.iconPlus:hover{
    opacity: .8;
}

.row-content-table{
    height: 95%;
    overflow: auto;
}

.inputRadio{
    color: rgba(0,0,0,.6);
}
.inputRadio>input{
    margin-left: 1%;
}
.inputRadio>label{
    margin-left: 1%;
    font-weight: bold;
    font-size: 20px;
}
.inputRadio>label:hover{
    opacity: .5;
}