.dialog-modal-register{

}
.content-modal-register{

}
.content-modal-register .modal-header{
    color: white;
    background: rgb(50, 54, 57);
}
.content-modal-register .modal-footer{
    color: white;
    background: rgb(50, 54, 57);
}
.content-modal-register .modal-body {
    background: rgb(82, 86, 89);
    color: white;
}

.content-modal-register .close{
    color: white;
}
.content-modal-register .close:hover{
    opacity: 1;
    background: gray;
    color: white;
}
.content-modal-register p{
    margin-bottom: 0;
    margin-top: 1rem;
}

.input_nom{
    width: 100%;
}

.input_prof{
    float: left;
    width: 90% !important;
}

.icon_right {
    width: 10%;
    /*height: 30px;*/
}
.icon_right:hover{
    color: gold;
    transition: .3s;
}

.files {
    width: 0% !important;
    visibility:hidden;
}
#input_file{
    width: 0% !important;
    visibility:hidden;
}

.btnFileCV{
    width: 80%;
    height: 28px;
    background: gold;
    color: rgba(0,0,0,.6);
    margin-bottom: 0;
    padding: 2px 1px;
    border-radius: 5px;
}
.btnFileCV:hover{
    background: goldenrod;
    transition: .3s;
}

.btnFile{
    width: 40%;
    height: 28px;
    background: gold;
    color: rgba(0,0,0,.6);
    margin-right: 1%;
    margin-bottom: 0;
    padding: 1px 1px;
    border-radius: 5px;
    display: inline-grid;
}
.btnFile:hover{
    background: goldenrod;
    transition: .3s;
}
.btnFile div{
    overflow: hidden;
    text-overflow: ellipsis;
}

.input_descrip{
    width: 39%;
}

.btn{
    color: white;
}
input{
    border-radius: 5px;
}
select{
    border-radius: 5px;
}

#divCertificacion{
    min-width: 259px;
}

.div-presentacion{
    margin: -20px;
    border-radius: 10px;
    background: rgba(0,0,0,.009);
    border: solid 15px #d9dfe4;
}
.div-container{
    background: #60b9d4;
    width: 100%;
    height: 100px;
}
.div-cesto{
    margin: -20px;
    border-radius: 10px;

    background-image:url("../images/fondoHome1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    display: block;
}

.div-nombre-pres{
    top: -50px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    align-content: center;
    font-family: system-ui;
    font-weight: 600;
    font-size: large;
}
.div-nombre-pres img{
    border:solid 4px white;
}

.div-general-skill{
    align-content: center;
    height: fit-content;

}
.div-skill{
    color: #046384;
    text-align: left;
    overflow: auto;
  /*  height: 235px;*/
    border-color: rgba(255,255,255,.5) ;
    border-style: solid ;
    border-width: 1px 0 1px 0;
    padding: 2%;
    margin: auto;
}
.div-skill p{
    color: black;
    font-size: 25pt;
    font-weight: bold;
}
.div-skill h6{
    font-family: system-ui;
    text-align: center;
    margin-top: 2%;
}
.div-skill label{
    margin-left: 1%;
    margin-right: 1%;
    color: lightblue;
    font-family: system-ui;
}
.div-skill ul{
    height: auto;
    display: grid;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;

}
.div-prof-pres{
    border-right: solid darkblue 2px;
}
.div-exp-pres{
    border-right: solid darkblue 2px;
}
.div-cert-pres li:hover{
    color: goldenrod;
    cursor: pointer;
    transition: .3s;
    text-decoration-line: underline;
}

.div-cv-pres{
    text-align: right;
    padding: 10px;
    color: #046384;
}
.div-cv-pres label:hover{
    color: goldenrod;
    cursor: pointer;
    transition: .3s;
    text-decoration-line: underline;
}
.div-cv-pres Button{
    background: lightblue;
    color: #046384 !important;
    right: 0;
    margin-left: 10px;
}
.div-cv-pres Button:hover{
    background: dodgerblue;
    color:white !important;
}


ul {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 10px;
}

.img-perfil{
    width: 100px;
    height: 100px;
    color: #a7a7a7;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10%;
    object-fit: cover;
    display: block;
    border: solid 2px gray;
}