.dialog-modal-register{

}
.content-modal-register{

}
.content-modal-register .modal-header{
    color: white;
    background: rgb(50, 54, 57);
}
.content-modal-register .modal-footer{
    color: white;
    background: rgb(50, 54, 57);
}
.content-modal-register .modal-body {
    background: rgb(82, 86, 89);
    color: white;
}

.content-modal-register .close{
    color: white;
}
.content-modal-register .close:hover{
    opacity: 1;
    background: gray;
    color: white;
}

.input_nom{
    width: 100%;
}

.input_prof{
    float: left;
    width: 90% !important;
}

.icon_right {
    width: 10%;
    /*height: 30px;*/
}
.icon_right:hover{
    color: gold;
    transition: .3s;
}

.files {
    width: 0% !important;
    visibility:hidden;
}
#input_file{
    width: 0% !important;
    visibility:hidden;
}

.btnFileCV{
    width: 90%;
    height: 28px;
    background: gold;
    color: rgba(0,0,0,.6);
    margin-bottom: 0;
    padding: 2px 1px;
    border-radius: 5px;
}
.btnFileCV:hover{
    background: goldenrod;
    transition: .3s;
}

.btnFile{
    width: 40%;
    height: 28px;
    background: gold;
    color: rgba(0,0,0,.6);
    margin-right: 1%;
    margin-bottom: 0;
    padding: 1px 1px;
    border-radius: 5px;
    display: inline-grid;
}
.btnFile:hover{
    background: goldenrod;
    transition: .3s;
}
.btnFile div{
    overflow: hidden;
    text-overflow: ellipsis;
}

.input_descrip{
    width: 39%;
}

.btn{
    color: white;
}
input{
    border-radius: 5px;
}
select{
    border-radius: 5px;
}

#divCertificacion{
    min-width: 259px;
}