.dialog-modal-pdf{
    margin: auto;
    width: 100%;
    max-width: 90%;
    height: 98%;
}

.content-modal-pdf{
    width: inherit;
    height: inherit;
    background: rgb(50, 54, 57);
}
.content-modal-pdf .modal-header{
    background: rgb(50, 54, 57);
    border-color: rgb(50, 54, 57);
    box-shadow: 0 -2px 8px
        rgba(0, 0, 0, .9), 0 4px 8px
        rgba(0, 0, 0, .6), 0 1px 2px
        rgba(0, 0, 0, .3), 0 2px 6px
        rgba(0, 0, 0, .9);
}

.content-modal-pdf .close{
    color: white;
}
.content-modal-pdf .close:hover{
    opacity: 1;
    background: gray;
    color: white;
}
.content-modal-pdf .modal-body{
    background: rgb(82, 86, 89);
    padding: 0;
    color: white;
    overflow: auto;

}
.content-modal-pdf .react-pdf__Page{
    margin-bottom: 10px;
}