.pdf-content{

}

.pdf-document{

}

canvas{
    margin: auto;
    width: 70vw !important;
    height: auto !important;
}

.header-pdf{
    position: fixed;
    top: 2%;
    width: 82%;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.num-page-pdf{
    width: 10%;
    align-self: center;
    min-width: 50px;
}
/*input{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    outline: none;
    padding: 0 4px;
    text-align: center;
    width: 5ch;
}*/
.zoom-page-pdf{
    width: 20%;
    min-width: 160px;
}
.down-page-pdf{
    width: 10%;
}
.button-header-pdf{
    background: transparent;
    border: transparent;
    color: white;
    width: 40px;
    height: 40px;
}
.button-header-pdf svg{
    width: 25px;
    height: auto;
}
.button-header-pdf:hover{
    opacity: 1;
    background: gray;
    border-radius: 50%;
}
.label-zoom-pdf{
    background: black;
    margin-left: 1%;
    margin-right: 1%;
}