.pdf-content{

}

.pdf-document{

}

canvas{
    margin: auto;
    width: 70vw !important;
    height: auto !important;
}

.header-pdf{
    position: fixed;
    top: 2%;
    width: 82%;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.num-page-pdf{
    width: 10%;
    align-self: center;
    min-width: 50px;
}
/*input{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    outline: none;
    padding: 0 4px;
    text-align: center;
    width: 5ch;
}*/
.zoom-page-pdf{
    width: 20%;
    min-width: 160px;
    border-style: solid;
    border-color: transparent white transparent white;
    border-width: 1px;
}
.down-page-pdf{
    width: 10%;
}
.button-header-pdf{
    background: transparent;
    border: transparent;
    color: white;
    width: 40px;
    height: 40px;
}
.button-header-pdf svg{
    width: 25px;
    height: auto;
}
.button-header-pdf:hover{
    opacity: 1;
    background: gray;
    border-radius: 50%;
}
.label-zoom-pdf{
    background: black;
    margin-left: 1%;
    margin-right: 1%;
}

.name-file-pdf{
    width: 17%;
    position: fixed;
    left: 7%;
}
.name-file-pdf>p{
    text-align: left;
    width: 100%;
    overflow: hidden;
    height: 30px;
}

#pdfobject{
    width: 100%;
    height: 100%;
}
.photo{
    width: 100% !important;
    position: absolute;
    top: 0;
    z-index: 1060;

    background: rgb(50, 54, 57);
    border-color: rgb(50, 54, 57);
    box-shadow: 0 -2px 8px
    rgba(0, 0, 0, .9), 0 4px 8px
    rgba(0, 0, 0, .6), 0 1px 2px
    rgba(0, 0, 0, .3), 0 2px 6px
    rgba(0, 0, 0, .9);
}

.react_lightgallery_item{
    margin: auto;
}

.lg-toolbar{
    background: rgb(50, 54, 57) !important;
}

.lg-toolbar .lg-icon{
    color: white !important;
    background: rgb(50, 54, 57) !important;
}
.lg-img-wrap{
    background: rgb(82, 86, 89) !important;
}